@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: 'white';
  background-color: 'black';
  overflow:hidden;
}
html {
  overscroll-behavior: none;
  color: 'white';
  background-color: 'black';
}

.endmark:last-child::after {
  content: "\2766";
  display: inline;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 1em;
  line-height: 0.5;
}
